.search-page {
  margin-top: 60px;

  &__result {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
  }

  @media only screen and (max-width: 982px) {
    .button {
      padding: 10px 20px;
    }

    .absolute-center {
      top: 65%;
      text-align: center;
    }
  }
}
